div.mot-image {
  float: left;
  margin: 5px;
  position: relative;
  color: #000;
  text-align: center;
}

div.mot-image a {
  font-weight: bold;
  color: #286090;
}

div.mot-image .mot-caption {
  display: none;
  position: absolute;
  bottom: 0px;
  padding: 5px;
  background: #f5f5f5;
  width: 100%;
  opacity: 0.8;
}

div.mot-image-fade {
  float: left;
  margin: 5px;
  position: relative;
  color: #000;
  text-align: center;
}

div.mot-image-fade a {
  font-weight: bold;
  color: #286090;
}

div.mot-image-fade .mot-caption-fade {
  display: none;
  position: absolute;
  bottom: 0px;
  padding: 5px;
  background: #f5f5f5;
  width: 100%;
  height: 65%;
  padding-top: 40%;
}

div.mot-text-caption {
  bottom: 0px;
  padding: 5px;
  background: #f5f5f5;
}

.mot-image img {
  width: 100% !important;
  text-align: center;
}

.mot-image-fade img {
  width: 100% !important;
  text-align: center;
}

.circle img {
  border-radius: 50%;
  display: inline-block;
}

.rounded  img {
  border-radius: 30px;
  display: inline-block;
}

.read-more {
  margin: 25px 10px;
  float: right;
  clear: both;
  padding: 5px;
  text-align: center;
  border: 2px double #000;
}

.cls-width {
  width: 90%;
}

.cls-left {
  float: left;
}

.cls-right {
  float: right;
}

.cls-full {
  width: 100%;
}

.cls-75 {
  width: 90%;
}

.cls-row-width-1 {
  width: 100%;
}

.cls-row-width-2 {
  width: 50%;
}

.cls-row-width-3 {
  width: 33.333%;
}

.cls-row-width-4 {
  width: 25%;
}

.cls-row-width-5 {
  width: 20%;
}

.cls-row-width-6 {
  width: 16.6666%;
}

.cls-row-width-7 {
  width: 14.28%;
}

.cls-row-width-8 {
  width: 12.5%;
}

.cls-row-width-9 {
  width: 11.11%;
}

.cls-row-width-10 {
  width: 10%;
}

.cls-text {
  width: 70%;
  padding: 10px;
}

.line-separator {
  clear: both;
  border-top: 1px solid #e5e5e5;
  padding-bottom: 5px;
}

.mot .cls-left  p {
  color: #1d2a3b;
  line-height: normal;
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: center;
}

.mot .cls-left  p span {
  color: #91b2cc;
  font-size: 12px;
  font-weight: normal;
}

.mot .cls-left img {
  height: auto;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
}

.mot .clsbody {
  margin-left: 25%;
}

.social-icon {
  padding-top: 20px;
}

.social-icon  a {
  margin: 5px;
}

.facebook {
  background: url('../image/social/facebook.jpg') no-repeat;
  height: 41px;
  width: 41px;
  display: inline-block;
}

.email {
  background: url('../image/social/email.jpg') no-repeat;
  height: 41px;
  width: 41px;
  display: inline-block;
}

.google {
  background: url('../image/social/google.jpg') no-repeat;
  height: 41px;
  width: 41px;
  display: inline-block;
}

.instragram {
  background: url('../image/social/instragram.jpg') no-repeat;
  height: 41px;
  width: 41px;
  display: inline-block;
}

.linkedin {
  background: url('../image/social/linkedin.jpg') no-repeat;
  height: 41px;
  width: 41px;
  display: inline-block;
}

.pinterest {
  background: url('../image/social/pinterest.png') no-repeat;
  height: 41px;
  width: 41px;
  display: inline-block;
}

.twitter {
  background: url('../image/social/twitter.png') no-repeat;
  height: 41px;
  width: 41px;
  display: inline-block;
}

.youtube {
  background: url('../image/social/youtube.png') no-repeat;
  height: 41px;
  width: 41px;
  display: inline-block;
}

.back-mot {
  clear: both;
  font-size: 24px;
  text-align: right;
}

.view-meet-our-team div.cls-row-width-3:nth-child(3n+1),
.view-meet-our-team div.cls-row-width-2:nth-child(2n+1) {
  clear: both;
}
